{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>{% block title %}Caskaway Pubs{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/css/fontawesome-all.min.css' %}">
<link rel="manifest" href="{% static '_manifest.json' %}" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/icons/icon-192x192.png' %}">
</head>

<body class="theme-dark" data-highlight="highlight-red" data-gradient="body-default">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">
     <div class="page-content header-clear-medium">
         <!-- Messages -->
           {% if messages %}
                {% for message in messages %}

                    <div id="message_container" class="alert alert-warning alert-dismissible fade show" role="alert">
            <span><i class="fa fa-times"></i></span>
            <strong>{{ message | safe }}</strong>
            <button type="button" class="close color-white opacity-60 font-16" data-bs-dismiss="alert" aria-label="Close">×</button>
        </div>
                    {% endfor %}
           {% endif %}
                <div class="ps-5 pe-5">
                    <h1 class="text-center font-800 font-40 mb-1">Sign In</h1>
                    <p class="color-highlight text-center font-12">Let's get you logged in</p>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-style no-borders has-icon validate-field">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control validate-name" name="username" placeholder="username">
                            <label for="form1a" class="color-blue-dark font-10 mt-1">Name</label>
                            <i class="fa fa-times disabled invalid color-red-dark"></i>
                            <i class="fa fa-check disabled valid color-green-dark"></i>
                            <em>(required)</em>
                        </div>

                        <div class="input-style no-borders has-icon validate-field mt-4">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control validate-password" name="password" placeholder="Password">
                            <label for="form3a" class="color-blue-dark font-10 mt-1">Password</label>
                            <i class="fa fa-times disabled invalid color-red-dark"></i>
                            <i class="fa fa-check disabled valid color-green-dark"></i>
                            <em>(required)</em>
                        </div>
                        <button type="submit" class="back-button btn btn-full btn-m shadow-large rounded-sm text-uppercase font-700 bg-highlight">Submit</button>

                        <div class="divider mt-4"></div>

                    </form>
                </div>
     </div>
</div>
<script>
    // suppose the `id` attribute of element is `message_container`.
var message_ele = document.getElementById("message_container");


setTimeout(function(){
   message_ele.style.display = "none";
}, 3000);
// Timeout is 3 sec, you can change it

</script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
</body>