{% extends "base.html" %}
{% block title %}Caskaway Epos Summary{% endblock %}
{% block menuBottom %}
        <div id="footer-bar" class="footer-bar-2">
            <a href="{% url 'targets' %}" class="{% if navbar == 'targets' %}active-nav{% endif %}">
                <i class="fa fa-bullseye"></i><span>Targets</span></a>
            <a href="{% url 'financeHome' %}" class="{% if navbar == 'finance' %}active-nav{% endif %}">
                <i class="fa fa-wallet"></i><span>Cash Flow</span><strong></strong></a>
            <a href="#" data-menu="menu-group-summary" class="{% if navbar == 'summary' %}active-nav{% endif %}">
                <i class="fa fa-chart-line"></i><span>Summary</span></a>
        </div>
    {% endblock %}
{% block content %}
    <div class="ps-3 pe-3 mt-4 text-center">
        <h1 class="font-800 font-25 mb-1">Z Reads</h1>
        <p class="color-highlight font-15 mt-2">Collection of submission from your daily Z Reads</p>

    </div>
    <hr>
    <div class="ps-3 pe-3">

    <table class="table table-borderless text-center rounded-sm shadow-l" style="overflow: hidden;">
        <thead>
            <tr>
                <th scope="col" class="bg-night-light border-dark-dark py-3 color-white">Date</th>
                <th scope="col" class="bg-night-light border-dark-dark py-3 color-white">Wet+Dry</th>
                <th scope="col" class="bg-night-light border-dark-dark py-3 color-white">PDQ</th>
                <th scope="col" class="bg-night-light border-dark-dark py-3 color-white">Actions</th>
            </tr>
        </thead>
        <tbody class="bg-dark-light">
       {% for x in epos_pages %}
            <tr>
                <th scope="row">{{ x.date.date|date:"d M" }}</th>
                <td>&pound;{{ x.wet|add:x.dry }}</td>
                <td>&pound;{{ x.pdq }}</td>
                <td><a href="{% url 'update-epos' x.id %}" id="{{ x.id }}" class="btn btn-xxs shadow-sm text-uppercase font-800 bg-blue-dark">Edit</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if epos_pages.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ epos_pages.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ epos_pages.number }} of {{ epos_pages.paginator.num_pages }}
    {% if epos_pages.has_next %}
    <a href="?page={{ epos_pages.next_page_number }}">next</a>
    <a href="?page={{ epos_pages.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    <hr>
    <br>


{% endblock %}

{% block offCanvas %}

{% endblock %}

{% block scripts %}

{% endblock %}