{% extends "base.html" %}
{% block title %}Caskaway Cashflow{% endblock %}
{% block menuBottom %}
        <div id="footer-bar" class="footer-bar-2">
            <a href="{% url 'targets' %}" class="{% if navbar == 'targets' %}active-nav{% endif %}">
                <i class="fa fa-bullseye"></i><span>Targets</span></a>
            <a href="{% url 'financeHome' %}" class="{% if navbar == 'finance' %}active-nav{% endif %}">
                <i class="fa fa-wallet"></i><span>Cash Flow</span><strong></strong></a>
            <a href="{% url 'summary' %}" class="{% if navbar == 'summary' %}active-nav{% endif %}">
                <i class="fa fa-chart-line"></i><span>Summary</span></a>

        </div>
    {% endblock %}
{% block content %}

    <!--  Financial Buttons  -->
        <div class="row text-center mb-0 mt-n2">
            <a href="#" data-menu="page-zreads" class="col-6 pe-0">
                <div class="card card-style me-2 mb-3">
                    <i class="fa fa-arrow-down color-green-dark fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Z Reads</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Submit Daily Z Reads</p>
                </div>
            </a>
            <a href="#" data-menu="page-expenses" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa fa-arrow-up color-highlight fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Expenses</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Add Expense</p>
                </div>
            </a>
            <a href="#" data-menu="page-income" class="col-6 pe-0">
                <div class="card card-style me-2 mb-3">
                    <i class="fa fa-plus color-yellow-dark fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Income</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Add Additional Income</p>
                </div>
            </a>
            <a href="#" data-menu="page-deposits" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa fa-sync color-blue-dark fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Deposits</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Take/Return Deposits</p>
                </div>
            </a>
            <a href="#" data-menu="page-rota" class="col-6 pe-0">
                <div class="card card-style me-2 mb-3">
                    <i class="fa fa-users color-brown-dark fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Rotas</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Add Staff Hours</p>
                </div>
            </a>
            <a href="#" data-menu="page-cash" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <i class="fa fa-vault color-teal-dark fa-2x mt-4"></i>
                    <h1 class="pt-2 font-18">Cash Handling</h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3">Count and Confirm Cash</p>
                </div>
            </a>
        </div>



{% endblock %}

 {% block offCanvas %}

      <!-- Transactions Modals -->
     <div id="page-zreads" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Z Reads</h1><p class="color-highlight">Enter Transaction Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-style input-style-always-active validate-field no-borders">
                        <select id="form5" name="dateSelect">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        {% for x in this_week %}
                            <option value="{{ x.id }}">{{ x.date | date }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{eposform.wet}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{eposform.wet.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{eposform.dry}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{eposform.dry.label}}</label>
                        </div>
                    </div>
                     <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{eposform.pdq}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{eposform.pdq.label}}</label>
                        </div>
                    </div>


                <button type="submit" name="save_epos" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit</button>
                </form>

            </div>
     </div>

     <div id="page-expenses" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Expenses</h1><p class="color-highlight">Enter Transaction Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="input-style input-style-always-active validate-field no-borders">
                          <select id="form5" name="dateSelect">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        {% for x in this_week %}
                            <option value="{{ x.id }}">{{ x.date | date }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{expensesform.where}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{expensesform.where.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{expensesform.category}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{expensesform.category.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{expensesform.item}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{expensesform.item.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{expensesform.amount}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{expensesform.amount.label}}</label>
                        </div>
                    </div>

                <button type="submit" name="save_expenses" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit</button>
                </form>
            </div>
     </div>

     <div id="page-income" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Income</h1><p class="color-highlight">Enter Transaction Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="input-style input-style-always-active validate-field no-borders">
                         <select id="form5" name="dateSelect">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        {% for x in this_week %}
                            <option value="{{ x.id }}">{{ x.date | date }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{incomeform.category}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{incomeform.category.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{incomeform.description}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{incomeform.description.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{incomeform.amount}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{incomeform.amount.label}}</label>
                        </div>
                    </div>

                <button type="submit" name="save_income" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit</button>
                </form>
            </div>
     </div>

      <div id="page-deposit" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Deposits</h1><p class="color-highlight">Enter Transaction Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="input-style input-style-always-active validate-field no-borders">
                        <select id="form5" name="dateSelect">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        {% for x in this_week %}
                            <option value="{{ x.id }}">{{ x.date | date }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{depositform.category}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{depositform.category.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{depositform.who}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{depositform.who.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{depositform.amount}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{depositform.amount.label}}</label>
                        </div>
                    </div>

                <button type="submit" name="save_deposit" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit</button>
                </form>
            </div>
     </div>

      <div id="page-rota" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Rota</h1><p class="color-highlight">Enter Staff Hours</p>
            <a href="#" class="close-menu"><i class="fa fa-times"></i></a>
        </div>

        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">
            <form action="" method="POST">

                {% csrf_token %}

                    <div class="input-style input-style-always-active validate-field no-borders">
                        <select id="form5" name="dateSelect">
                            <option value="default" disabled="" selected="">Select Date</option>
                                {% for x in this_week %}
                                    <option value="{{ x.id }}">{{ x.date | date }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{hoursworked.staff_member}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{hoursworked.staff_member.label}}</label>
                        </div>
                    </div>
                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="input-style input-style-always-active validate-field no-borders no-icon">
                            {{hoursworked.hours_worked}}
                            <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">{{hoursworked.hours_worked.label}}</label>
                        </div>
                    </div>

             <div class="row me-0 ms-0 mb-0">
                    <div class="col-10 ps-0 pe-1">
                            <button type="submit" name="save_hours" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit Hours</button>
                    </div>
                    <div class="col-2 ps-1 pe-0">
                           <button type="submit" class="btn btn-full btn-m bg-blue-dark rounded-sm text-uppercase font-800 mb-4">Add Staff</button>
                    </div>

                </div>
            </form>
            </div>
     </div>

      <div id="page-cash" class="menu menu-box-bottom menu-box-detached" style="display: block;">
        <div class="menu-title"><h1>Income</h1><p class="color-highlight">Enter Transaction Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider divider-margins mt-3 mb-3"></div>
            <div class="content px-1">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="input-style input-style-always-active validate-field no-borders">
                          <select id="form5" name="dateSelect">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        {% for x in this_week %}
                            <option value="{{ x.id }}">{{ x.date | date }}</option>
                        {% endfor %}
                    </select>
                    </div>

                    <div class="input-style input-style-always-active validate-field no-borders no-icon">
                        <div class="row">
                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.fifty_pound}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">&pound;50</label>
                            </div>

                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.twenty_pound}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">&pound;20</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.ten_pound}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">&pound;10</label>
                            </div>

                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.five_pound}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">&pound;5</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.one_pound}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">&pound;1</label>
                            </div>

                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.fifty_pence}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">50p</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.twenty_pence}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">20p</label>
                            </div>

                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.ten_pence}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">10p</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.five_pence}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">5p</label>
                            </div>

                            <div class="input-style input-style-always-active validate-field no-borders no-icon col-6">
                                {{safeform.coppers}}
                                <label for="f3" class="color-theme opacity-30 text-uppercase font-700 font-10 mt-1">1 &amp; 2p</label>
                            </div>
                        </div>
                    </div>


                <button type="submit" name="save_safe" class="btn btn-full btn-m bg-green-dark rounded-sm text-uppercase font-800 mb-4">Submit</button>
                </form>
            </div>
     </div>


     <script>
     $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>
 {% endblock %}