{% extends "base.html" %}
{% block title %}Caskaway Summary{% endblock %}
{% block menuBottom %}
        <div id="footer-bar" class="footer-bar-2">
            <a href="{% url 'targets' %}" class="{% if navbar == 'targets' %}active-nav{% endif %}">
                <i class="fa fa-bullseye"></i><span>Targets</span></a>
            <a href="{% url 'financeHome' %}" class="{% if navbar == 'finance' %}active-nav{% endif %}">
                <i class="fa fa-wallet"></i><span>Cash Flow</span><strong></strong></a>
            <a href="{% url 'summary' %}" class="{% if navbar == 'summary' %}active-nav{% endif %}">
                <i class="fa fa-chart-line"></i><span>Summary</span></a>

        </div>
    {% endblock %}
{% block content %}
    <div class="ps-2 pe-2">
        <h1 class="font-800 font-40 mb-1">Z Reads</h1>
        <p class="color-highlight font-15 mt-2">Collection of submission from your daily Z Reads</p>
        {{ epos | safe }}
        &nbsp;<hr>&nbsp;
        <h1 class="font-800 font-40 mb-1">Expenses</h1>
       <p class="color-highlight font-15 mt-2">Submitted Expenses</p>
        {{ expenses | safe }}
    </div>


{% endblock %}